#content h1{
    margin-top: 60px;
    margin-bottom: 40px;
}

#content .card{
    margin-top: 100px;
    width: 24rem;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 0 10px 0;
}

#content .card:hover{
    scale: 1.1;
}

#content .card img{
    position: absolute;
    left: 30%;
    top: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 150px;
    border-radius: 100px;
}

#content .card h5{
    margin-top: 70px;
}


/*              FOR MOBILE                 */

@media screen and (max-width:480px){

#content h1{
    margin-top: 60px;
    margin-bottom: 40px;
}

#content .card{
    margin-top: 100px;
    width: auto;
    text-align: center;
    box-shadow: 0 0 10px 0;
}

#content .card img{
    position: absolute;
    left: 34%;
    top: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 150px;
    border-radius: 100px;
}

#content .card h5{
    margin-top: 70px;
}

}